.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_about {
  display: flex;
  gap: 24px;
  align-items: center;
}
.nav_link {
  color: #fdfdfd;
  font-size: 18px;
  font-weight: 600;
}
.nav_btn {
  padding: 12px 24px;
  background-color: #1a3e3e;
  border-radius: 4px;
  margin-left: 24px;
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.192px;
  letter-spacing: 0.192;
}
.header_body {
  padding-top: 310px;
}
.header_body_text {
  color: #fdfdfd;
  font-size: 50px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header_form {
    margin-top: 25px;
  padding: 40px 42px 69px 42px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);

  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: top;
}
.header_form_voice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #e1e3e4;
  padding: 14px 16px;

  width: 100%;

  max-width: 270px;
  color: #fdfdfd;
}
.overview {
  margin-top: 8px;
  color: #fdfdfd;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.header_form_btn {
  padding: 16px 36px;
  background-color: #fdfdfd;
  border-radius: 4px;
  max-height: 52px;
}
.header_form_search {
  font-size: 15px;
  color: #1a3e3e;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.192px;
}



/* Main */
/* Program */
.program {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    margin-bottom: -200px;
}
.program_img {
    position: relative;

}
.program_img_1{
    position: relative;
    bottom: 280px;
    left: 126px;
}
.program_info {
    margin-top: 65px;
}
.program_info_about {
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 83%;
}
.program_info_action {
    margin-top: 8px;
    color: #18121E;
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
}
.program_info_overview {
    margin-top: 40px;
    color: #18121E;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.program_info_btn {
    margin-top: 40px;
}
.program_info_link {
    padding: 16px 36px;
    background-color: #1A3E3E;
    border-radius: 4px;
    color: #FDFDFD;
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.192px;

    transition: all .5s ease;
}
.program_info_link:hover{
    background-color: #285555;
}


/* Price */

.price{
    margin-top: 9px;
    background-color: #F3F5F4;
    padding: 90px 0;
}

.price_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 90px;
}
.price_info_about {
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 83%;
}
.price_info_action {
    margin-top: 8px;
    color: #18121E;
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
}
.price_info_overview {
    margin-top: 40px;
    color: #18121E;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
}
.price_plus{
    margin-bottom: 40px;
}
.price_plus_item {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.price_plus_item_left_1{
    padding: 7px 0;
}
.price_plus_item_left_1 img{
    padding: 7px;
    background-color: #E5EEEB;
    border-radius: 4px;
    display: inline-block;
}
.price_plus_item_left_2 img{
    padding: 7px;
    background-color: #E3E6EE;
    border-radius: 4px;
    display: inline-block;
}
.price_plus_item_left_3 img{
    padding: 7px;
    background-color: #F3F1E1;
    border-radius: 4px;
    display: inline-block;
}
.price_plus_item_right p{
    color: #18121E;
    font-size: 18px;
    font-weight: 700;
    line-height: 111%;
    letter-spacing: 0.216px;
}
.price_plus_item_right h4{
    margin-top: 4px;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 142%;
}

.price_ibfo_link {
    padding: 16px 35px;
    background-color: #1A3E3E;
    border-radius: 4px;
    color: #FDFDFD;
    font-size: 14px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.192px;
}
.price_img {
    margin-top: 33px;
}

.price_img img{
    display: inline-block;
    overflow: hidden;
    transition: transform .3s;
}

.price_img img:hover{
    transform: scale(1.1);
}
/* Direction */

.direction {
    margin-top: 90px;
    text-align: center;
}
.direction_about {
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 83%;
}
.direction_action {
    color: #18121E;
    font-size: 32px;
    margin-top: 8px;
    font-weight: 800;
    line-height: 120%;
}
.direction_grid {
    margin-top: 148px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.direction_btn {
    margin-top: 37px;
}
.direction_link {
    padding: 16px 35px;
    background-color: #1A3E3E;
    border-radius: 4px;
    color: #FDFDFD;
    font-size: 14px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.192px;
}



/* Blog */

.blog {
    padding: 64px 0 42px 0;
    background-color: #F3F5F4;
    text-align: center;
    margin-top: 90px;
}
.blog_about {
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 83%;
    padding-bottom: 50px;

}
.blog_action {
    color: #18121E;
    font-size: 32px;
    margin-top: 8px;
    font-weight: 800;
    line-height: 120%;
}
.blog_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 64px;
    grid-gap: 20px;
}
.blog_item {
    padding: 16px 16px;
    display: grid;
    grid-template-columns: .8fr 1fr;
    grid-gap: 24px;
    background-color: #FDFDFD;
    border-radius: 10px;
    min-width: 550px;

    transition: all .5s ease;
}
.blog_item:hover{
    box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.63);
}

.blog_item_text {
    padding: 16px 0;
    text-align: left;
}
.blog_item_h {
    color: #18121E;
    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
}
.blog_item_p {
    margin-top: 24px;
    color: #18121E;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    line-height: 142%;
}
.blog_item_text_bot {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.blog_date {
    color: #F2BE22;
    font-size: 14px;
    font-weight: 700;
    line-height: 142%;

}
.blog_item_link {
    color: #1A3E3E;
    font-size: 14px;
    font-weight: 700;
    line-height: 142%;
}
.blog_btn {
    margin-top: 100px;
}
.blog_link {
    padding: 16px 35px;
    background-color: #1A3E3E;
    border-radius: 4px;
    color: #FDFDFD;
    font-size: 14px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.192px;
}


/* Foto */

.foto {
    text-align: center;
    margin-top: 36px;
}
.foto_about {
    color: #F2BE22;
    font-size: 24px;
    font-weight: 400;
    line-height: 83%;
}
.foto_action {
    color: #18121E;
    font-size: 32px;
    margin-top: 8px;
    font-weight: 800;
    line-height: 120%;
}
.foro_grid {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
}
.foro_grid a{
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s; 
}

.foro_grid a:hover{

    transform: scale(1.1);
}

.foto_1 {
    grid-column: 1 / 3;
}
.foto_5 {
    grid-column: 2 / 4;
}
.foto_btn {
    margin-top: 56px;
}
.foto_link {
    padding: 16px 35px;
    background-color: #1A3E3E;
    border-radius: 4px;
    color: #FDFDFD;
    font-size: 14px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.192px;
}

/* Newsletter */

.newsletter {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.63);
    padding: 40px 50px;
    z-index: 1000;
    position: relative;
    bottom: -100px;
    background-color: #fff;
}
.news_left {
    text-align: left;
}
.news_about {
    color: #F2BE22;
    font-size: 18px;
    font-weight: 400;
    line-height: 111%;
}
.news_action {
    color: #18121E;
    font-size: 26px;
    margin-top: 8px;
    font-weight: 800;
    line-height: 120%;
}
.news_right {
    text-align: left;
}
.news_news_letter {
    font-size: 16px;
    color: #18121E;
    font-weight: 600;
    line-height: 125%;
}
.email_news {
    margin-top: 8px;
    display: flex;
    align-items: center;

}
.lavel_email{
    border: none; /* Убираем границу */
    outline: none; /* Убираем контур фокуса */
    background: none; /* Убираем фон */
    padding: 20px 142px 20px 16px;
    margin: 0;

    border-radius: 4px;
    background-color: #F3F5F4;
}

.lavel_email::placeholder{
    color: #18121E;
    font-size: 14px;
    font-weight: 300;
}
.news_btn {
    margin-left: 16px;
}
.news_link {
    padding: 16px 25px;
    background-color: #1A3E3E;
    border-radius: 4px;
    color: #FDFDFD;
    font-size: 14px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.192px;
}
.oferta {
    margin-top: 18px;
    color: #18121E;
    font-size: 14px;
    font-weight: 600;
    line-height: 128%;
}
.oferta span{
    text-decoration-line: underline;
}

/* Footer */

footer{
    background-color: #1A3E3E;
    padding: 166px 0 92px 0;
    color: #F3F5F4;
    position: relative;
    z-index: 1;
}
.footer_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer_left {
    display: flex;
    flex-direction: column;
}
.footer_name {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
}
.footer_overview {
    font-size: 14px;
    font-weight: 400;
    line-height: 142%;
}
.footer_left_info {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 269px;
}
.footer_left_info a{
    font-size: 14px;
    font-weight: 600;
    line-height: 128%;
    text-decoration-line: underline;
}
.footer_left_media {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 170px;
}
.footer_center {
    margin-top: 11px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; 
}
.footer_services {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer_services a{
    font-size: 14px;
    font-weight: 400;
    line-height: 128%;

    transition: all .8s ease;
}
.footer_services a:hover{
    color: #F2BE22;
    text-decoration-line: underline;
}
.footer_right {
    margin-top: 11px;
}

.footer_name_1{
    margin-right: 80px;
}

.btn_trans{
    transition: all .5s ease;
}

.btn_trans:hover{
    box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.63);
}